html {
    scroll-behavior: smooth;
}
body {
    background-image: url("../images/background.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    background-color: #FFFFFF;
    text-align: center;
    margin-bottom: 3%;
    width: 100%;
    align-items: center;
    align-content: center;
    overflow-x: hidden;
    line-height: 1.2;
}
 
div#mainBody {
    margin: 0;
    padding: 50px;
}
a.skip{
    font-size: 0;
    font-weight: bold;
    right: 0;
    position: absolute;
    top: 13px;
    color: rgb(255, 255, 255);
    background-color: #333;
} 

a.skip:focus-within {
    font-size: 13px;
}

nav li {
    color: #f2f2f2;
    font-size: 20px;
    background-color: #333;
    padding: 20px 15px;
}
.nav_links {
    display: flex;
    flex-direction: column;
}

nav li:hover {
    background: #ddd;
    color: black;
}

.current{
    background: #ddd;
    color: black;
    font-weight: bold;
}

.corner {
    font-family: "Trirong", serif;
}
.corner:hover {
    color: #f2f2f2;
    background: #333;
}
img:hover:nth-child(2n) {
    opacity: 0.3;
    filter: alpha(opacity=30);
}

a {
    color: inherit;
    text-decoration: none;
}
img {
    width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px; 
    margin: auto;
    
}
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner,
.flip-card:focus-within .flip-card-inner,
.flip-card:active .flip-card-inner,
.flip-card:focus .flip-card-inner{
    transform: rotateY(180deg);
}
  
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
  
.flip-card-front {
    background-color: #bbb;
    color: black;

}
  
.flip-card-back {
    background-color: antiquewhite;
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
}
div.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    border-radius: 5px;
}

div.finalgallery {
    list-style: none;
    padding: 30px;
    
    
}
div.finalgallery ul{
    display: grid;
    width: 100%;
    border: solid 7px antiquewhite;
    grid-template-columns: repeat(auto-fit,minmax(35px,auto));
    grid-gap: 5px;
    grid-auto-flow: dense;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}
.finalgallery ul li {
    position: relative;
}

.finalgallery ul li:nth-child(1){
    grid-row: span 2;
    grid-column: span 4;
}
.finalgallery ul li:nth-child(2){
    grid-row: span 2;
    grid-column: span 4;
}
.finalgallery ul li:nth-child(3){
    grid-row: span 2;
    grid-column: span 5;
}
.finalgallery ul li:nth-child(4){
    grid-row: span 2;
    grid-column: span 6;
}
.finalgallery ul li:nth-child(5){
    grid-row: span 2;
    grid-column: span 3;
}
.finalgallery ul li:nth-child(6){
    grid-row: span 3;
    grid-column: span 4;
}
.finalgallery ul li:nth-child(7){
    grid-row: span 2;
    grid-column: span 4;
}
.finalgallery ul li:nth-child(8){
    grid-row: span 2;
    grid-column: span 5;
}
.finalgallery ul li:nth-child(9){
    grid-row: span 3;
    grid-column: span 4;
}

.finalgallery ul li:nth-child(10){
    grid-row: span 2;
    grid-column: span 5;
}

.finalgallery ul li:nth-child(11){
    grid-row: span 2;
    grid-column: span 4;
}

.finalgallery ul img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
}

.iron {
    width: 80%;
}
.mainphoto {
    width: 300px;
    height: 300px;
    margin:unset;
}
p {
    margin:auto;
    font-size: 25px;
    padding-bottom: 20px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
}
div {
    background-color: rgba(236, 236, 236, 0.90);
    margin-bottom: 0px;
}
h1 {
    font-size:40px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: antiquewhite;
}
h1#gmk {
    margin-bottom: 0;
    background-color: antiquewhite;
}
h2 {
    font-size: 30px;
}
h2#cap {
    font-size: 50px;
    margin-bottom: 10px;
}
h2#space {
    background-color: antiquewhite;
    font-size: 50px;
}
.assemblyp1 {
    padding-top: 30px;
}
div#intro1 {
    margin: 50px;
    padding-top: 30px;
    
}
footer {
    
    text-align: center;
    padding: 5px;
    color: #333;
    width: 100%;
    background-color: antiquewhite;
    margin-bottom: -53px;

}

input[type=text], select, textarea {
    border-top: 100px;
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #3c5c79;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#intro {
    animation-name:intro;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

@keyframes intro  {
    from {
    width: 0%;
    opacity: 0;}

    to {
    width: 80%;
    opacity: 1;}
}

@media screen and (min-width: 800px){
.nav_links {
    list-style-type: none;
    position: fixed;
    bottom: 0;
    width: 45%;
    flex-direction: row;
    flex-wrap: wrap;
    z-index:1;
    
}
div.gallery {
    flex-wrap: wrap;
}

div.finalgallery ul{
    grid-template-columns: repeat(auto-fit,minmax(50px,auto));
}
.finalgallery ul li:nth-child(4){
    grid-row: span 2;
    grid-column: span 7;
}
.finalgallery ul li:nth-child(5){
    grid-row: span 2;
    grid-column: span 6;
}
}

@media screen and (min-width: 1400px){
nav {
    font-size: 20px;
    background-color: #333;
    
}
div.finalgallery ul{
    grid-template-columns: repeat(auto-fit,minmax(100px,auto));
}
.finalgallery ul li:nth-child(4){
    grid-row: span 2;
    grid-column: span 6;
}
.finalgallery ul li:nth-child(5){
    grid-row: span 2;
    grid-column: span 3;
}

nav li {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
.nav_links {
    display: flex;
    flex-direction: row;
    position: sticky;
    flex-wrap: nowrap;
    
}
div.gallery {
    flex-direction: row;
    justify-content: center;
    justify-items: center;
}
}

@media screen and (prefers-reduced-motion: reduce){
    /*Turn off scroll*/
    html{
      scroll-behavior: auto; /* Removes scroll animation */
    }
  
    .flip-card {
        perspective: 0px;
    }
    .flip-card-inner{
        height: 100%;
        transition: none;
    }

    
    /*Turn off parallax*/
    body{
    background-attachment: scroll;
    }
    #intro {
        animation: none;
    }
  }

